<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/styles/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/styles/css/styles.css">
  <link rel="stylesheet" type="text/css" href="/styles/css/util.css">
  <link rel="icon" type="image/ico" href="/images/Nude-Favicon.png" />
  <title>Nude Studio</title>
</head>

<body>
  <header class="header1">
    <!-- Header desktop -->
    <div class="container-menu-header">
      <div class="topbar">

        <span class="topbar-child1">
          Buy Online. Pick Up at Store!
        </span>

        <div class="topbar-child2">
          <span class="topbar-email">
            shop@nudestudio.com
          </span>
          <!--
          <div class="topbar-language rs1-select2">
            <select class="selection-1" name="time">
              <option>USD</option>
              <option>MXN</option>
            </select>
          </div> -->
        </div>
      </div>

      <div class="wrap_header">
        <!-- Logo -->
        <a href="/" class="logo">
          <img src="/images/Logo-Nude.png" alt="IMG-LOGO">
        </a>

        <!-- Menu -->
        <div class="wrap_menu">
          <nav class="menu">
            <ul class="main_menu">
              <!--    <li>
                <a href="/">Home</a>
              </li> -->

              <li class="sale-noti">
                <a href="/collections">Shop</a>
                <ul class="sub_menu">
                  <li>
                    <a href="/collections/vestidos">Vestidos</a>
                  </li>
                  <li>
                    <a href="/collections/tops">Tops</a>
                  </li>
                  <li>
                    <a href="/collections/shorts-faldas">Shorts/Faldas</a>
                  </li>
                  <li>
                    <a href="/collections/rompers-jumpsuits">Rompers/Jumpsuits</a>
                  </li>
                </ul>
              </li>

              <li>
                <a href="/collections/sales">On Sale</a>
                <ul class="sub_menu">
                  <li>
                    <a href="/collections/sales/vestidos">Vestidos</a>
                  </li>
                  <li>
                    <a href="/collections/sales/tops">Tops</a>
                  </li>
                  <li>
                    <a href="/collections/sales/shorts-faldas">Shorts/Faldas</a>
                  </li>
                  <li>
                    <a href="/collections/sales/rompers-jumpsuits">Rompers/Jumpsuits</a>
                  </li>
                </ul>
              </li>

              <li>
                <a href="/collections/preorder">New Arrivals</a>
                <ul class="sub_menu">
                  <li>
                    <a href="/collections/preorder/vestidos">Vestidos</a>
                  </li>
                  <li>
                    <a href="/collections/preorder/tops">Tops</a>
                  </li>
                  <li>
                    <a href="/collections/preorder/shorts-faldas">Shorts/Faldas</a>
                  </li>
                  <li>
                    <a href="/collections/preorder/rompers-jumpsuits">Rompers/Jumpsuits</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
        <div class="header-icons">
          <a href="/login" class="header-wrapicon1 dis-block">
            <img src="/images/icon-header-01.png" class="header-icon1" alt="ICON">
          </a>

          <span class="linedivide1"></span>



          <!-- Header cart noti -->
          <ul class="header-cart-wrapitem">
            <li class="header-cart-item">
              <a href="/bag" class="header-wrapicon1 dis-block bag">
                <img src="/images/icon-header-02.png" class="header-icon1" alt="ICON">
              </a>
              <span class="header-icons-noti bag-amount">
                <!-- 0 -->
              </span>
            </li>
          </ul>

  </header>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script> {{{body}}}



  <footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
    <div class="flex-w p-b-90">
      <div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
        <h4 class="s-text12 p-b-30">
          GET IN TOUCH
        </h4>

        <div>
          <p class="s-text7 w-size27">
            Any questions? Let us know shop@nudestudio.com
          </p>

          <div class="flex-m p-t-30">
            <a href="#" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
            <a href="#" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
            <a href="#" class="fs-18 color1 p-r-20 fa fa-pinterest-p"></a>
            <a href="#" class="fs-18 color1 p-r-20 fa fa-snapchat-ghost"></a>
            <a href="#" class="fs-18 color1 p-r-20 fa fa-youtube-play"></a>
          </div>
        </div>
      </div>

      <div class="t-center s-text8 p-t-20">
        Copyright © 2018 All rights reserved.
      </div>
    </div>
  </footer>
</body>

</html>

<script>
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
</script>