<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
            <div class="leftbar p-r-20 p-r-0-sm">
                <!--  -->
                <h4 class="m-text14 p-b-7">
                    Admin Account
                </h4>

                <ul class="p-b-54">
                    <li class="p-t-4">
                        <a href="/admin/ventas" class="s-text13 active1">
                            Sales
                        </a>
                    </li>

                    <li class="p-t-4">
                        <a href="/admin/inventario" class="s-text13">
                            Stock
                        </a>
                    </li>

                    <li class="p-t-4">
                        <a href="/admin/nuevo-inventario" class="s-text13">
                            Add Items
                        </a>
                    </li>
                    <!--
                    <li class="p-t-4">
                        <a href="#" class="s-text13">
                            Edit Items
                        </a>
                    </li>
-->
                </ul>
            </div>
        </div>
        <div class="col-md-8 p-b-30">
            <form class="leave-comment">
                <h4 class="m-text26 p-b-36 p-t-15">
                    Add Item
                </h4>

                <div class="bo4 of-hidden size15 m-b-20">
                    <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="name" placeholder="Item Name">
                </div>

                <div class="bo4 of-hidden size15 m-b-20">
                    <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="phone-number" placeholder="Brands">
                </div>

                <div class="bo4 of-hidden size15 m-b-20">
                    <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="email" placeholder="Type">
                </div>

                <div class="bo4 of-hidden size15 m-b-20">
                    <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="name" placeholder="Cost">
                </div>

                <div class="bo4 of-hidden size15 m-b-20">
                    <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="phone-number" placeholder="Price">
                </div>

                <div class="bo4 of-hidden size15 m-b-20">
                    <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="email" placeholder="Discount">
                </div>

                <div class="bo4 of-hidden size15 m-b-20">
                    <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="name" placeholder="Final Price">
                </div>

                <div class="bo4 of-hidden size15 m-b-20">
                    <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="phone-number" placeholder="Pre Order">
                </div>

                <div class="bo4 of-hidden size15 m-b-20">
                    <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="email" placeholder="Shipment Name">
                </div>


                <div class="w-size25">
                    <!-- Button -->
                    <button class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4">
                        Add
                    </button>
                </div>
            </form>
        </div>


    </div>
</div>